---
---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: About</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
			<h2>About the Codice Foundation</h2>
			<p>The origin of the Codice Foundation idea is a bit difficult to trace.  However, it's been in the back of many individuals minds and hidden in the activities of many programs and projects for a long time (e.g. ARPA).  In reality, the Codice Foundation is an sister to the active Mil-OSS Working Group that was formed in 2008.  As a result of many events and conversations the necessity for an Apache-like foundation that could serve the needs of federally-focused projects (and in particular in the Defense industry) was identified.  At the Mil-OSS WG4 in October of 2012, the plans for initiating Codice began to unfold.  Also, with the transitioning of the Ozone Widget Framework from closed GOTS to OSS the time was right to provide a broader scope to the Mil-OSS working group - and to provide tools and support to other projects who could benefit in the same ways.</p>

			<H2>Mission Statement</H2>
			<p>The Codice Foundation is an industry-driven consortium of government, academia and industry providing infrastructure, support, education, and export control advice to communities of government-focused engineers and organizations operating open source projects.</p>
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>