---
---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: Agreements</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
			<h2>License and Contributor Agreements</h2>
			<h3>License(s)</h3>
			<p>The Codice Foundation itself doesn't maintain its own license. However, in order for projects to be entered into incubation they must already be licensed with an <a href="http://opensource.org/licenses" target="_blank">approved OSI license.</a></p>

			<p>As part of the Incubation Proposal submission please identify all licenses and any compliance issues with the submitted software (i.e. compatibility issues or requirements).</p>

			<p>The Codice Foundation can help advise on licensing and copyright issues.</p>

			<h3>Agreements</h3>
			<p>The Codice Foundation requires that all contributors of code, designs, documentation or ideas sign either an individual or corporate contributor's agreement. The purpose of the agreements is to legally clarify the distribution of intellectual property to the Codice Foundation. The Corporate CLA ensures that contributors are contributing within the boundaries of their employment agreement. Note, that contributors contributing under a Corporate CLA must also have a signed Individual CLA on file - to cover any contributions which may not be owned by the corporation that has a signed Corporate CLA on file.</p>

			<h3>Individual</h3>
			<p>The Individual Contributor License Agreement (ICLA) can be <a href="pdfs/icla.pdf" target="_blank">downloaded here</a>.</p>

			<h3>Corporate</h3>
			<p>The Corporate Contributor License Agreement can be <a href="pdfs/cla-corporate.pdf" target="_blank">downloaded here</a>.</p>

			<h3>Software Grants</h3>
			<p>If an individual or organization wishes to donate a project or body of work (including documentation) to any of the Codice Foundation projects, they will need to execute a Software Grant Agreement with the Codice Foundation. </p> 

			<p>The Software Grant Agreement (SGA) is available for <a href="pdfs/software-grant.pdf" target="_blank">download here</a>.</p>
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>