---

---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: Board</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
			<h2>Board of Directors</h2>
			<p>The Codice Foundation is a non-profit "member run" foundation. This means that operating decisions are based on majority consensus with each board member taking an active role in management of the organization.</p>

			<p>The Board of Directors is responsible for ensuring the Codice mission statement objectives are being delivered for its member project committees and external stakeholders. The Board is charged with providing four primary service areas:</p>

			<h3>1. IT Infrastructure, related tools and services</h3>
			<p>Codice projects may choose to use their own tools or take advantage of Codice tools.</p>

			<h3>2. Guidance for project teams migrating from the government space</h3>
			<p>Experiences of individual Codice projects while making the move into the open are provided to new projects in an effort to ease transition.</p>

			<h3>3. Community promotion</h3>
			<p>Communicating the value and helping project’s identify application of technology to new potential users helps to grow a project’s base. Guidance to operating in a transparent manner that fosters quality contributions and growth is also provided.</p>

			<H3>4. Legal infrastructure protecting contributors and project Intellectual Property (IP).</H3>
			<p>Codice projects use OSI-approved licenses with Codice maintaining the ability to hold copyright while providing attribution to individual authors.</p>
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>