---
---


<!DOCTYPE html>
<html>
<head>
	<title>Codice: Contributing</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
			<h2>Contributing to Codice</h2>
			<p>There are many ways to contribute to Codice, or any of the projects.  In order to formally contribute you'll need to sign, at a minimum, an Individual Contributor License Agreement (ICLA).  If you're contributing as an employee of an organization you'll also need to sign a Corporate Contributor License Agreement (CCLA) which protects all parties given intellectual property constraints.</p>

			<p>But!  You don't need an agreement to communicate.</p>

			<h3>Communicate!</h3>
			<p>It all starts with communicating with the projects, or our organization.  The mailing lists, and issue trackers - the communities - are an ocean of knowledge.  It's a two-way street, so let's ensure we're all communicating well.</p>

			<p>Submit issues, which helps us document the process as well.</p>

			<p>Blog, speak and attend Mil-OSS events!</p>

			<h3>Code!</h3>
			<p>Fork, fix and submit patches, or pull requests.  Earn yourself a spot as an official contributor by signing the agreement and working with the projects.</p>

			<h3>Document!</h3>
			<p>It's not just about the code.  We're also looking for contributions towards documentation (indirectly in blog posts too) for a project's wiki.  If you're interested, reach out to anyone in the project PMC, the mailing list or the Codice BoD and we'll get you moving in the right direction.</p>

			<h3>Sponsor!</h3>
			<p>There are also ways to contribute by sponsoring events or donating.  Feel free to contact us at info@codicefoundation.org.</p>
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>