---

---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: Governance</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
				<h2>Governance</h2>
				<p>Governance for Codice projects occurs from multiple points.  The Codice Board of Directors, responsible for the operation of the foundation and providing general support across projects. The Board also provides supervision and coordination for the infrastructure and services volunteers and consultants. </p>

				<p>A Project Management Committee (PMC) exists to operate each project. PMCs consist of a Chairperson and committers. Incubating projects' PMCs will also contain a sponsor/mentor from the foundation. </p>

				<p>Each project also participates as a greater community. The community is the key capability that Codice projects provide, ensuring longevity and a higher potential for capability and quality. While not directly responsible or accountable for a project's state, the community is driving force and best gauge for a project's health. Therefore both the Board and the PMCs work with the community-at-large and each project's community of interest to ensure the smoothest operation of each project.</p>
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>
