---

---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: Governance</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
				<h2>Governance</h2>
				<p>Governance for Codice projects is a three-tier architecture. At the top is the Codice Board of Directors (BoD), responsible for the operation of the foundation and oversight of all projects (top-level and incubators). The BoD also provides supervision and coordination for the infrastructure and services volunteers and consultants. </p>

				<p>The second tier is the Project Management Committees (PMC), which exist to operate the projects. PMCs consist of a Chairperson and contributors. Incubating projects' PMCs will also contain a sponsor/mentor from the foundation. </p>

				<p>Last, but most assuredly not least is the project's greater community. The community is the key capability that Codice projects provide, ensuring longevity and a higher potential for capability and quality. While not directly responsible or accountable for a project's state, the community is driving force and best gauge for a project's health. Therefore both the BoD and the PMCs work with the community-at-large and each project's community of interest to ensure the smoothest operation of each project.</p>
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>