---

---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: Graduation</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
				<h2>Incubation Graduation</h2>
				<p>It is the hope that all incubating projects at Codice will achieve "top-level" status, and grow out of incubation.  However, we know that not all good ideas come at the right time.  If incubating projects grow stale, or never achieve the community growth expected of healthy projects, termination may be suggested by the Codice BoD.</p>

				<p>In order for a incubator to graduate there are a few bare minimum requirements.</p>

				<h4>Bare Minimums</h4>
				<ul>
					<li>The project is positively healthy and has consumers</li>
					<li>The project has contributors from multiple organizations</li>
					<li>The project is operationally capable of continuously improving</li>
					<li>The project has demonstrated professional use of the Codice tools</li>
				</ul>
				
				<h4>Process</h4>
				<p>When the IPMC feels that it is ready, it should negotiate the potential submission for graduation with the project sponsor, or a Codice BoD member.  If all issues are resolved and the IPMC Chairperson is ready, a simple email with the graduation proposal content shall be sent to bod@codice.org for a final vote.</p>

				<p>The Apache Foundation provides a great metaphor for the process and even includes a template email - <a href="http://incubator.apache.org/guides/graduation.html#tlp-resolution" target="_blank">check it here</a>.</p>
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}


</div>
</div><!-- /shadow-wrapper -->
</body>

</html>