---

---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: Home </title>
	{% include head.html %}
	
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header-home.html %}

	<div class="container">
		<div class="row">
			<div class="projects-wrap">
				<div class="project-title">
					Project Spotlight
				</div>
				<div class="project-wrap project-1">
					<div class="project">
						<img class="project-logo" src="images/logo-ddf.png" title="DDF" alt="DDF">
						<p>DDF is a robust system integration platform including a metadata catalog, secure federated search, a message broker, and much more.</p>
						<a class="btn-secondary" href="http://ddf.codice.org/" >View Project &raquo;</a>
					</div>
				</div>
				<div class="project-wrap project-2">
					<div class="project">
						<img class="project-logo" src="images/logo-codice-imaging.png" title="Codice Imaging" alt="Codice Imaging">
						<p>Codice Imaging is a "pure Java" library for working with National Imagery Transmission Format (NITF) files.</p>
						<a class="btn-secondary" href="https://github.com/codice/imaging-nitf" >View Project &raquo;</a>
					</div>
				</div>
				<div class="project-wrap project-3">
					<div class="project">
						<img class="project-logo" src="images/logo-alliance.png" title="Alliance" alt="Alliance">
						<p>Alliance is an Intelligence, Surveillance and Reconnaissance (ISR)-focused DDF distribution.</p>
						<a class="btn-secondary" href="https://github.com/codice/alliance" >View Project &raquo;</a>
					</div>
				</div>
				<div class="project-wrap project-4">
					<div class="project">
						<img class="project-logo" src="images/logo-usng.png" title="USNG.JS" alt="USNJ.JS">
						<p>USNG.JS is a JavaScript library for geospatial representations including LL, UTM, USNG, and MGRS.</p>
						<a class="btn-secondary" href="https://github.com/codice/usng.js" >View Project &raquo;</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="involved-title">
				Get Involved
			</div>

			<div class="col-md-3">
				<div class="circle">
				  <div class="circle-inner">
				    <div class="circle-wrapper">
				      <div class="circle-content">Sponsor a<br/>Project</div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="circle">
				  <div class="circle-inner">
				    <div class="circle-wrapper">
				      <div class="circle-content">Be a<br/>Contributor</div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="circle">
				  <div class="circle-inner">
				    <div class="circle-wrapper">
				      <div class="circle-content">Submit a<br/>Proposal</div>
				    </div>
				  </div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="circle">
				  <div class="circle-inner">
				    <div class="circle-wrapper">
				      <div class="circle-content">Find Us<br/>At Events</div>
				    </div>
				  </div>
				</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>
