---

---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: Proposals</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
				<h2>Have a Project?</h2>
				<p>So you have something that you think would make sense as a Codice Foundation project, or you need help getting your project into a more collaborative environment? Well, we'd definitely like to discuss it.</p>

				<p>It's probably best to start by communicating through the <a href="https://groups.google.com/forum/?fromgroups#!forum/codice-foundation" target="_blank">Google group</a> - but always feel free to contact us directly via email at info@codice.org</p>

				<H3>Proposal Template</H3>
				Below is a basic proposal template. It's not required that you follow it to the T, but it does serve as a general guidance to what we'd expect in a proposal. The PDF version is <a href="pdfs/ProjectProposalTemplate.pdf" target="_blank">here</a>.
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>