---

---

<!DOCTYPE html>
<html>
<head>
	<title>Codice: Tools</title>
	{% include head.html %}
</head>

<body>
<div class="shadow-wrapper">
<div class="content-wrap">
	
	{% include header.html %}

	<div class="container">
		<div class="main-content-wrap">
				<h2>Codice Software Development Tools</h2>
				<P>Some projects, while in incubation or under review for incubation may not be completely operational with the Codice tool set. But we'll get there.</P>
				<UL>
					<li><a href="http://jira.codice.org" target="_blank">Issue tracker</a></li>
					<li><a href="https://codice.atlassian.net/wiki/spaces/CODICE/overview" target="_blank">Wiki</a></li>
					<li><a href="https://jenkins.codice.org" target="_blank">Continuous Integration</a></li>
					<li><a href="http://artifacts.codice.org/" target="_blank">Artifact repository</a></li>
				</UL>
		</div><!-- /main-content-wrap -->
	</div><!-- /container -->

	{% include footer.html %}

</div>
</div><!-- /shadow-wrapper -->
</body>

</html>