
	<div class="container">
		<div class="contact-wrap row">
			<div class="col-sm-12 contact-title">
				Contact
			</div>
			<div class="col-sm-12">
				<div class="contact-intro">
					Contact us at (703) 594-1770 or email at <a href="					mailto:info@codicefoundation.org">
					info@codicefoundation.org</a>.
				</div>
			</div>
		<!-- 	<form class="col-sm-12">
				<div class="form-wrap">
					<label for="name">Name:</label>
					<input type="text" name="name" />
					<label for="email">Email:</label>
					<input type="email" name="email">
					<label for="message">Message:</label>
					<textarea name="message"></textarea>
					<input type="submit" value="Send">
				</div>
			</form> -->
		</div>

		<div class="footer-wrap row">

			
			<nav class="footer-nav"> 
				<div class="footer-nav-item"><a href="#">&copy; Codice Foundation, Inc. All rights reserved. Codice Foundation is a qualified is a 501(c)(3) tax-exempt organization.</a></div>
				<!-- <div class="footer-nav-item"><a href="#">Item</a></div>
				<div class="footer-nav-item"><a href="#">Item</a></div>
				<div class="footer-nav-item"><a href="#">Item</a></div>
				<div class="footer-nav-item"><a href="#">Item</a></div> -->
			</nav>
		</div>
	</div>