<div class="header-wrap container">
		<div class="header-main row">
			<div class="logo col-md-4">
				<a href="index.html"><img src="images/codice-logo.png" /></a>
			</div>

			{% include navigation.html %}

		</div>

		<div class="proc-flex-wrap">
			<div class="proc-flex">
				<h2>A Public Code Conservancy</h2>
				<p>The Codice Foundation is an industry-driven consortium providing infrastructure, support, education, and advice for government-focused open source projects.  Projects transition from Government Open Source Software (GOSS) or launch as open development from the start. </p>
				<!-- <a class="header-cta" href="#" title="Learn More About Codice">Learn more</a> -->
			</div>
		</div>
	</div>
